<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>तिमीलाई, मलाई - शिक्षा सबैलाई</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-fixed-top navbar-default navbar-right">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<i><b><a class="navbar-brand" href="http://localhost:8000" style="color: white;">शिक्षा सबैलाई</a></b></i>
			</div>

			<div class="collapse navbar-collapse navbar-right" id="topNavBar">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#offers">
							Offers
						</a>
					</li>

					<li class=""> 
						<a href="#review">
							Memo
						</a>
					</li>

					<li class=""> 
						<a href="#blog">
							Blog
						</a>	
					</li>

					<li class=""> 
						<a href="/unescosites/">
							Unesco sites
						</a>	
					</li>

					<li class=""> 
						<a href="#blog">
							Must Visit
						</a>	
					</li>
					
					<li class=""> 
						<a href="#blog">
							Gallery
						</a>	
					</li>

					<li class=""> 
						<a href="#blog">
							Land Marks
						</a>	
					</li>

					<li class=""> 
						<a href="#blog">
							Tourist Hotline
						</a>	
					</li>
				</ul>	
			</div>	
		</div>
	</nav>

	<div class="container-fluid">	
		<div class="row">
			<div class="header-image">	
				<!-- <img class="site-logo" src="static/images/hamro nepal logo.png"> -->
				<img class="header-banner" src="static/images/banner.jpg" width="100%;">
				<button class="btn btn-banner">
					Request
				</button>
				<button class="btn btn-banner2">
					Another Request
				</button>	
			</div>
			<div>
			</div>
		</div>

		<a href="#row1">
			<button class="btn btn-chevron-down">
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</button>
		</a>

		<div class="row" id="row1">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body" style="text-align: justify;">
						<div class="featured-img">
							 <img src="static/images/python django.jpg" class="img-responsive">
						</div>
						<button class="btn btn-more">
							More
						</button>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body" style="text-align: justify;">
						<div class="featured-img">
							 <img src="static/images/laravel.png" class="img-responsive">
						</div>
						<button class="btn btn-more">
							More
						</button>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body" style="text-align: justify;">
						<div class="featured-img">
							 <img src="static/images/python.png" class="img-responsive">
						</div>

						<button class="btn btn-more">
							More
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" style="margin-bottom: 20px; overflow: hidden;">
  		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 200px;">
    		<!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">
		    	<div class="item active">
		    		
		      		<img  src="static/images/banner.jpg" alt="New york" class="img-responsive carousel-img" align="right">
		      		<p class="carousel-description">
		    			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		    		</p>
		    		
		      		
		      	</div>

		      	<div class="item">
		        	<img src="static/images/banner.jpg" alt="New york" class="img-responsive carousel-img" align="right">
		        	<p class="carousel-description">
		    			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		    		</p>
		      	</div>
		    
		      	<div class="item">
			        <img src="static/images/banner.jpg" alt="New york" class="img-responsive carousel-img" align="right">
			        <p class="carousel-description">
		    			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		    		</p>
		    	  </div>
		    </div>

    		<!-- Left and right controls -->
		    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right"></span>
		      <span class="sr-only">Next</span>
		    </a>
 		</div>
	</div>

	<div class="container-fluid">
		<div class="row" id="row2">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Recent Post</h4>
					</div>

					<div class="recent-posts">
						<div class="panel-body">
							<div class="col-md-4">
								<div class="panel panel-default">
									<div class="panel-body" >
										<div class="featured-img">
											 <img src="static/images/django_depoly.png">
										</div>

										<h4>Deploying Django Project</h4>
										<button class="btn btn-more">
											More
										</button>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="featured-img">
											 <img src="static/images/laravel_scratch.jpg">
										</div>
										<h4>Setup Simple Laravel Application</h4>
										<button class="btn btn-more">
											More
										</button>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="featured-img">
											 <img src="static/images/django_minimum.jpg">
										</div>
										<h4>Bare minimum django project</h4>
										<button class="btn btn-more">
											More
										</button>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>

	<div class="footer">
		<div class="panel-body">
			<div class="copyright">
				Designed and Developed By Nirpa Hang Rai. &copy; 2017
			</div>
			<div class="socials">
				<a href="https://www.facebook.com/thenirpa" target="blank">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>	
				<a href="#blog">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="#blog">
					<i class="fa fa-youtube" aria-hidden="true"></i>
				</a>
				<a href="#blog">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>	
			</div>
		</div>
	</div>	
	<script type="text/javascript">
		$(window).scroll(function(){
			if ( $(this).scrollTop() > 150 ) {
				$('.btn-chevron-down').css({
					display:"none"
				});
			}else{
				$('.btn-chevron-down').css({
					display:"inline"
				});
			}
		});
	</script>

</body>
</html>