/*#2c5c72 primary color*/


.navbar{
	margin-bottom : 0px;
}

.navbar-default{
	background-color: rgba(44,92,114,0.7);

}

.navbar-default .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a {	
  color: #333;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-variant: small-caps;
  border-bottom-color: #2c5c72;
  /*transition: border 1s linear;*/
  border-bottom: 2px solid transparent;
 /* padding: 0; removing spacing
 /* margin: 14px; add spacing*/
 border-right: 1px solid white;
 padding-right: 25px;
 padding-left: 25px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: white;
  /*color: #D47970;*/
  font-size: 16px;
  border-bottom: 2px solid #2c5c72;

}

.navbar-inverse{
    border-radius: 0px !important;
    /*margin-bottom: 0px;*/
    padding-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a{
  color: white;
}

.navbar-brand{
  font-family:'Satisfy',Cursive;
}



.btn-banner, .btn-banner2{
	/*to display button at center of div*/
	display: inline-block;
  	position: absolute;
  	top: 50%;
  	transform: translate(-50%,-50%);
  	left: 40%;

  	border-radius: 0px;
  	padding-left: 50px;
  	padding-right: 50px;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	background-color: rgba(0,0,0,0.3);
  	color: white;
  	border-color: white;
  	font-variant: small-caps;

  	/*for slide up effect on hover*/
  	background-size: 100% 200%;
  	background-image: linear-gradient(to bottom, transparent 50%, white 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.btn-banner2{
	left:60%;
}

.btn-banner:hover, .btn-banner2:hover{
	/*background-color: white;*/
	border-color: #0d6396;
	color: #0d6396;
	background-position: 0 -100%;
}

.btn-chevron-down{
	display: inline-block;
  	position: absolute;
	/*top: 50%;*/
	bottom:2%;
	z-index: 999;
	padding-left: 50px;
  	padding-right: 50px;

	border-radius: 0px;
  	background-color: transparent;
  	background-color: rgba(0,0,0,0.2);
  	color: white;

  	transform: translate(-50%,-50%);
  	left: 50%;
}

.fa-chevron-down{
	font-size: 50px;
	color: white;
}

@media only screen and (max-width: 500px) {
	.btn-banner, .btn-banner2{
		top:13%;
		left:20%;
		padding-right: 20px;
		padding-left: 20px;
		font-size: 10px;
	}

	.btn-banner2{
		left:69%;
	}
}


/*for screen size below 1099*/
@media (max-width: 1099px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


.footer{
	position: fixed; 
	bottom: 0px; 
	background-color: rgba(44,92,114,1);
	background-color: #003347;
	color: white;
	width: 100%;
	height: 70px;
	text-align: center;
	margin-top: 50px;
	padding-top: 20px;
}